[Unit]
Description=TikTok videos downloader service
Requires=docker.service
After=docker.service

[Service]
Restart=on-failure

WorkingDirectory=/home/www/GitHub/Python/TelegramBots/TikTokVideosDownIoader_bot
ExecStart=/usr/bin/docker-compose -f /home/www/GitHub/Python/TelegramBots/TikTokVideosDownIoader_bot/docker-compose.yml up --remove-orphans
ExecStop=/usr/bin/docker-compose -f /home/www/GitHub/Python/TelegramBots/TikTokVideosDownIoader_bot/docker-compose.yml down

[Install]
WantedBy=multi-user.target
